/* dark theme */
body {
  background-color: #f7a8b8;
  color: #fff;
}
/* center */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
/* box */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
}
